.s003 {
    background-color: #3C3B6E;
    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.50) ), url("/images/american-flag.1920.jpg") fixed;
}

.site-banner {
    background-color: rgba(221, 52, 55, 0.85);
    position: absolute;
    top: 100px;
    padding: 20px;
    color: white;
}

.s003 .main {
    margin-top: 260px;
}

input[type="text"] {
    font-size: 22px !important;
}

::-webkit-input-placeholder {
    color: peachpuff;
    font-size: 22px !important;
}
::-moz-placeholder {
    color: peachpuff;
    font-size: 22px !important;;
}
:-ms-input-placeholder {
    color: peachpuff;
    font-size: 22px !important;;
}
::placeholder {
    color: peachpuff;
    font-size: 22px !important;;
}

.supported-states-box {
    background: red; padding: 10px; margin-bottom: 10px !important; color: white;
}

.supported-states-box h3 {
    text-align: center;
}

.voter-search input[type="text"] {
    text-transform: uppercase;
}

.voter-results {
    background: white;
    margin-top: 15px;
    padding: 20px;
}

.voter-results #votersTable {
    width: 100%;
}

.voter-results #votersTable th {
    text-align: left !important;
}

@media only screen and (max-width: 1024px) {
    .s003 {
        background: url("/images/pexels-photo-281260.jpg");
    }
}

